@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body,html{
  overflow-x: hidden;
}

.primary{
   background-color: #1b7e14;
   padding:5px 20px;
   color: white;
   border: none;
   border-radius: 3px;
}

.secondary{
  background-color: #ffffff;
  padding:5px 20px;
  color: black !important;
  border: none;
}